.Rproj.user
.Rhistory
.RData
.Ruserdata

/_book/
/_site/
/.quarto/

*.csv
*.pdf
*.jpeg
*.xlsx

!Data/GuildList.csv
!Data/Species_Analysis_List.csv
!Data/Spatial/*

Data/Spatial/BC_WA_Merged_Polygon*
Data/Spatial/MidwinterAerialSeabirdSurveys.gdb
Data/Spatial/PSEMP_basin*

PlotTrends.R 
SummaryTables.R

03_Analysis_Demo.qmd