.Rproj.user
.Rhistory
.RData
.Ruserdata

/_book/
/_site/
/.quarto/

*.csv
*.pdf
*.jpeg
*.xlsx

!Data/GuildList.csv
!Data/Species_Analysis_List.csv
!Data/Spatial/*

!Output/SalishSea_Species_TrendsSlope.csv
!Data/events.csv

PlotTrends.R 